# Node
node_modules/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files (contain sensitive info)
.env
.env.local
.env.*.local
.env.production
.env.development

# Java
*.class
*.jar
target/
*.log

# Flink
checkpoints/
/log/inspire-admin/app.log.2026-07-09.0.gz
/log/inspire-ai/app.log.2026-07-09.0.gz
/log/inspire-auth/app.log.2026-07-09.0.gz
/log/inspire-core/app.log.2026-07-09.0.gz
/log/inspire-gateway/app.log.2026-07-09.0.gz
/log/inspire-admin/app.log.2026-07-10.0.gz
/log/inspire-auth/app.log.2026-07-10.0.gz
/log/inspire-core/app.log.2026-07-10.0.gz
/log/inspire-gateway/app.log.2026-07-10.0.gz
